*{margin: 0; font-family: 'Raleway';}
body{
    width:320px;
    background-color:#EBEBEB;
}
.navbar {
  overflow: hidden;
  background-color:#ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  flex-wrap: none;
  display: block;
  color: #000000;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 10px;
  font-family: 'Raleway';
}

.navbar a:hover {
  background-color: #bababa;
  color:#c31414;
}

.navbar a.active {
  color:#c31414;
}
.navbar a.active:hover {
  background-color: #bababa;
  color:#c31414;
}

.navbar .icon {
  display: none;
}

h1{
  font-family: 'Raleway';
  font-size: 25px;
  background-color: #c31414;
  color: #FFFFFF;
  text-align: center;
  padding: 15px;
}

.hjem{
  width: 20px;
  height: auto;
  display: flex;
  flex-direction: row;    
}

.tilbud{
  width: 20px;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-left: 5px;
}

.QR{
  width: 20px;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-left: 22px;
}

.indkøb{
  width: 20px;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.mere{
  width: 20px;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-left: 2px; 
}

.plus{
  width: 45px;
  margin-left: 42%;
  margin-top: 70%;
  font-family: 'Raleway';
}


.plustekst{
  text-align: center;
  margin-top: 70%;
  color: #646464;
  font-family: 'Raleway';
}
.addBtn {
  padding: 10px;
  width: 25%;
  background: #90AE3C;
  color: #ffffff;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 30px;
}

.addBtn:hover {
  background-color: #bbb;
}
ul li {
  cursor: pointer;
  margin-top: 20px;
  position: static;
  padding: 12px 40px;
  background: #ebebeb;
  font-size: 18px;
  transition: 0.2s;
}

#myInput{
  height: 30px;
  margin-left: 5px;
  border-radius: 30px;
  margin-top: 8px;
}

.vare{
  margin-left: 5px;
}

.circles {
  border-radius: 50%; 
  width: 130px; 
  height: 130px; 
  padding: 5px;
  background-color: #c31414; 
  margin: 27%;
  position: absolute;
}

.textcircle {
  font-size: 18px;
  font-family: 'Raleway';
  color:white;
  margin-left: 33%;
  margin-top: 42%;
  position: absolute;
}

.gulcircle {
  border-radius: 50%; 
  width: 80px; 
  height: 80px; 
  padding: 3px; 
  background-color: #FFE65F; 
  margin: 55%;
  position: relative;
}

.samlemærker {
  border-radius: 50%; 
  width: 90px; 
  height: 90px; 
  padding: 3px; 
  background-color: #8C1419; 
  text-align: center; 
  margin-top: -125%;
  margin-left: 10%;
  position: relative;
}

.encirkelmere{
  border-radius: 50%; 
  width: 90px; 
  height: 90px; 
  padding: 3px; 
  background-color: #8C1419; 
  margin-top: -20%;
  margin-left: 66%;
  position: relative;
}

#image {
  width: 100%;
  position: absolute;
}

.bud{
  width: 320px;
  height: 580px;
}

.præmie1{
  font-size: 25px;
  font-family: 'Raleway';
  margin-top: 15px;
}

.nummer1{
  display: flex;
  flex-direction: row;
  background-color: #c31414;
  color: #FFFFFF;
  padding: 15px;
  margin-top: 40px;
}

.fidget{
  height: 60px;
    margin-left: 100px;
  }

.præmie2{
  font-size: 25px;
  font-family: 'Raleway';
  margin-top: 15px;
}

.nummer2{
  display: flex;
  flex-direction: row;
  background-color: #c31414;
  color: #FFFFFF;
  padding: 15px;
  margin-top: 40px;
}

.fidget{
  height: 60px;
    margin-left: 100px;
  }

.præmie3{
  font-size: 25px;
  font-family: 'Raleway';
  margin-top: 15px;
}

.nummer3{
  display: flex;
  flex-direction: row;
  background-color: #c31414;
  color: #FFFFFF;
  padding: 15px;
  margin-top: 40px;
}

.fidget{
  height: 60px;
    margin-left: 100px;
  }

.præmie4{
  font-size: 25px;
  font-family: 'Raleway';
  margin-top: 15px;
}

.nummer4{
  display: flex;
  flex-direction: row;
  background-color: #c31414;
  color: #FFFFFF;
  padding: 15px;
  margin-top: 40px;
}
.fidget{
height: 60px;
  margin-left: 100px;
}


.præmie5{
  font-size: 25px;
  font-family: 'Raleway';
  margin-top: 15px;

}

.nummer5{
  display: flex;
  flex-direction: row;
  background-color: #c31414;
  color: #FFFFFF;
  padding: 15px;
  margin-top: 40px;
}

.bolle{
  height: 60px;
  margin-left: 100px;
 }

#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  
  
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#text2{
  position: absolute;
  top: 58%;
  left: 50%;
  font-size: 17px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.mælkbtn{
  
  margin-left: 40px;
  
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 20px;
}

.liste1 {
display: flex;
flex-direction: row;

color: #000000;
padding: 15px;
margin-top: 40px;
}

.mælk {
margin-left: 20px;
height: 80px;
width: auto;
}

.mælktekst {
margin-top: 35px;  
}