*{margin:0; font-family:'Raleway',black 900;}

body{
    width:320px;
}
.navbar {
    overflow: hidden;
    background-color:#ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .navbar a {
    float: left;
    flex-wrap: none;
    display: block;
    color: #000000;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Raleway';
  }

  .navbar a:hover {
    background-color: #c31414;
    color:#ffffff;
  }

  .navbar a.active {
    color:#c31414;
  }
  .navbar a.active:hover {
    background-color: #c31414;
    color:#ffffff;
  }

  .navbar .icon {
    display: none;
  }

  h1{
      font-family: 'Raleway';
      font-size: 25px;
      background-color: #c31414;
      color: #FFFFFF;
      text-align: center;
      padding: 15px;
  }
