*{margin:0;}
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.navbar {
    overflow: hidden;
    background-color:#ffffff;  
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Raleway;
  }
  
  .navbar a:hover {
    background-color: #c31414;
    color:#ffffff;
  }
  
  .navbar a.active {
    color:#c31414;
  }
  .navbar a.active:hover {
    background-color: #c31414;
    color:#ffffff;
  }
  
  .navbar .icon {
    display: none;
  }